.field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    font-size: var(--ms-text-md);
    margin-bottom: 4px;
}

.error {
    font-size: var(--ms-text-sm);
    color: var(--ms-intent-error);
    margin-top: 4px;
}

