.cell {
    height: 40px;
    width: 40px;
    text-align: center;
    border: 3px solid #3b3b3b;   
}

@media (max-width: 48em) {
    .cell {
        height: 30px;
        width: 30px;
        min-width: 30px;
    }
}

.cell.closed {
    background-color: #bbb;
}

.cell.open {
    background-color: #eee;
}

.cell.mine {
    background-color: red;
}

.cell.flagged {
    background-color: #bbb;
}